
h1{
    text-align: center;
    margin-top: 20%;
}
body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/692/991/674/mathematics-square-pattern-blue-background-wallpaper-preview.jpg");
    z-index: -1;
   
    height:255px;
    filter: blur(2px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
}
form {
    position: absolute;
    width: 250px;
    height: auto;
    top: 50%;
    left: 40%;
    border: 2px solid whitesmoke;
    
}